spring:
  application:
    name: spring-ai
  ai:
    chat:
      client:
        enabled: true # to use different models, need to disable the auto configured one.
    openai:
      api-key: ${DASHSCOPE_API_KEY}
      base-url: https://dashscope.aliyuncs.com/compatible-mode/v1
      chat:
        options:
          model: deepseek-v3.2
          temperature: 0.7
        completions-path: /chat/completions

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always


springdoc:
  version: '@springdoc.version@'
  swagger-ui:
    display-request-duration: true
    groups-order: DESC
    operationsSorter: method
    disable-swagger-default-url: true
    use-root-path: true
  show-actuator: true
  group-configs:
    - group: ai
      paths-to-match: /ai/**
  cache:
    disabled: true

